body {
    margin: 0;
    background-color: #E0E0DB
}
.navbar{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.brand{
    font-family: Apple Chancery;
    font-size: 45px;
    text-decoration: none;
    color: black;
}
.nav-item {
    margin: 0;
    padding: 0;
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.nav-link {
    display: inline-block;
}
.item{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: "Bodoni 72";
    vertical-align: center;
}
.heading{
    text-align: center;
    font-family: "Bodoni 72";
    font-size: 50px;
}
.seperator{
    margin-right: 5%;
}
.about-container{
    display: flex;
    overflow-wrap: break-word;
}
.content{
    margin: 40px;
    padding-top: 20px;
    display: inline-block;
    font-size: 25px;
    font-family: "Bodoni 72";
    line-height: 30px;   

}
.portrait{
    border-radius: 15%;
    height: 400px;
}
.tech-title{
    margin: 30px
}
#intro{
    font-size: 30px;
}
